# Binaries
importer
!importer/
query
!query/
localRental

# Databases
*.db
*.db-journal

# Environment variables
.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test files
test_*.db
test_*.json
